<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_integrador.Properties.Settings.stareletronicasConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\stareletronicas.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Projeto_integrador.Properties.Settings.dbCrud1ConnectionString"
            connectionString="Data Source=dbCrud1.mssql.somee.com;Initial Catalog=dbCrud1;User ID=moisescandido_SQLLogin_1;Password=ljshxejmtf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>